input {
    padding-top: 4px;
    padding-bottom: 4px;
    border: none;
    background: transparent;
    color: white;
    border-bottom: 1px solid rgb(136, 136, 136);
    width: 300px;
    font-size: 20px;
}

input:focus {
    border-bottom: 1px solid white;
    outline: none;
}

label {
    display: inline-block;
    width: 140px;
    font-size: 20px;
}

.acc-row {
    background-color: rgb(15, 15, 15);
    color: rgb(150, 150, 150);
    font-size: 20px;
}

.acc-row:hover {
    background-color: rgb(83, 83, 83);
    color: white;
    font-weight: bold;
}

.acc-spacer {
    height: 5px;
}

.acc-row-left {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.acc-row-right {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    text-align: center;
    text-indent: 0;
}

.acc-mg:hover, .acc-del:hover {
    cursor: pointer;
}

.acc-detail {
    text-indent: 0;
}

.acc-detail-off {
    display: none;
}

.acc-detail-container {
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
}

.acc-detail-index {
    display: flex;
    width: 20%;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    font-weight: bold;
}

.acc-detail-info {
    width: 65%;
}

.acc-detail-buttons {
    width: 15%
}