html {
    min-height: 100%;
    min-width: 100%;
    /* background-color: #252526; */
    /* background-color: #343a40; */
    background-color: rgb(30, 30, 30);
    color: white;
    padding: 3rem 0;
}

.wrapper {
    margin: auto;
    width: auto;
    text-align: center;
    font-family: sans-serif;
}

.btn {
    border: 1px solid white;
    color: white;
    border-radius: 50px;
    background: none;
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
    margin: 10px;
}

.btn:hover {
    background: white;
    color: black;
}